/*--------------------- About ---------------------*/

.about-section {
    display:flex;
    align-items:center;
    gap:80px;
}

.about-left img {
    width:350px;
    border:2px solid #00ff88;
    box-shadow:0 0 25px #00ff88;
}

.stats {
    display:flex;
    gap:40px;
    margin-top:30px;
}